.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin-bottom: 20px;
    .list {
        display: flex;
        margin-bottom: 15px;
    }
    .item {
        margin: 0 10px;
    }
    .link {
        display: inline-block;
    }
    .icon {
        width: 30px;
        height: 30px;
        transition: 150ms;
        &:hover {
            opacity: 0.8;
        }
    }
    .ivk {
        background: var(--text-color);
        mask: url('../../img/footer-vk.svg')
    }
    .iinst {
        background: var(--text-color);
        mask: url('../../img/footer-inst.svg')
    }
    .itg {
        background: var(--text-color);
        mask: url('../../img/footer-tg.svg')
    }
    .igit {
        background: var(--text-color);
        mask: url('../../img/footer-git.svg')
    }
    .copy {
        font-size: 12px;
        margin-bottom: 2px;
    }
    .creator {
        font-size: 10px;
    }
    .link {
        text-decoration: none;
        color: var(--text-color);
    }
}

