@import '../global/config.css';

.nav {
    display: flex;
    align-self: flex-end;
    margin-bottom: 105px;
    font-size: 20px;
    padding-top: 40px;
    padding-right: 30px;
    @media (max-width: 376px) {
        padding-right: 0;
        align-self: center;
        margin-bottom: 70px;
    }
    .list {
        list-style: none;
        display: flex;
    }
    .item {
        margin: 0 1rem;
        @media (max-width: 376px) {
            margin: 0 0.6rem;
            font-size: 16px;
        }
    }
    .link {
        display: inline-block;
        text-decoration: none;
        transition: 100ms;
        &:hover {
            color: var(--primary-color);
            transform: scale(1.03);
        }
    }
    .active {
        color: var(--primary-color);
    }
}





