/* Config with global view
   include variables & mixins & etc */

* {
   font-family: "Ubuntu", sans-serif;
}

html { height: 100%; overflow:auto; }
body { 
    --bg:            #ffffff;
    --text-white:    #ffffff;
    --text-color:    #21243d;
    --primary-color: #2398AB;
    --border-color:  #E0E0E0;
    --topic-color:   #8695A4;
    --data-color:    #142850;
    --tooltip-color: #636363;

    background-color: var(--bg);
    color: var(--text-color);
 }

body.dark {
    --bg:            #222831;
    --text-color:    #cacaca;
}

html {
   overflow: scroll;
   overflow-x: hidden;
}
::-webkit-scrollbar {
   width: 0px; /* remove scrollbar space */
   background: transparent; /* optional: just make scrollbar invisible */
}
