/* Config with global view
   include variables & mixins & etc */
$white-c:     #ffffff;
$text-c:      #21243d;
$primary-c:   #2398AB;
$secondary-c: #00a8cc;

* {
   font-family: "Ubuntu", sans-serif;
   color: $text-c;
}
html { height: 100%; overflow:auto; }
body { height: 100%; }

html {
   overflow: scroll;
   overflow-x: hidden;
}
::-webkit-scrollbar {
   width: 0px; /* remove scrollbar space */
   background: transparent; /* optional: just make scrollbar invisible */
}
