/* Config with global view
   include variables & mixins & etc */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './reset.css';

* {
    font-family: 'Ubuntu', sans-serif;
}

html {
    height: 100%;
    overflow: auto;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

body {
    --bg:            #ffffff;
    --recent-bg:     #EDF7FA;
    --recent-post:   #ffffff;
    --text-white:    #ffffff;
    --text-color:    #21243d;
    --primary-color: #2398AB;
    --border-color:  #e0e0e0;
    --topic-color:   #8695a4;
    --data-color:    #142850;
    --tooltip-color: #636363;
    --recent-shadow: rgba(187, 225, 250, 0.25);

    --wave-bg:       #EDF7FA;
    --intro-light:   hsla(200deg, 100%, 85%, 0);
    --intro-dark:    hsla(200deg, 100%, 85%, 0.1);
    --wave-zindex: -5;
    
    background-color: var(--bg);
    color: var(--text-color);
    transition: all 450ms;
}
body.dark {
    --bg:            #0E141B;
    --recent-bg:     #0E141B;
    --recent-post:   #17212c;
    --text-white:    #21243d;
    --text-color:    #e6e6e6;
    --primary-color: #AEE8E4;
    --border-color:  #636363;
    --topic-color:   #a3aab3;
    --data-color:    #e6e6e6;
    --tooltip-color: #636363;
    --recent-shadow: rgba(255, 255, 255, 0.25);

    --wave-bg:       #0E141B;
    --wave-zindex: 5;
}

::selection {
    background: var(--text-color);
    color: var(--text-white)
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-content {
    flex-grow: 1;
}
