.container {
    display: flex;
    flex-direction: column;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 300px;
    .header {
        font-size: 44px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 50px;
        @media (max-width: 768px) {
            justify-content: center;
        }
    }
    
    .mail {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 768px) {
            margin-bottom: 25px;
        }
    }

    .list {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .item {
        font-size: 20px;
    }
    .find {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .gmail {
        color: var(--text-color);
        text-decoration: none;
        font-size: 18px;
    }

    .link {
        color: var(--text-color);
        font-size: 20px;
        text-decoration: none;
    }
    
    .dedicated {
        color: var(--primary-color)
    }
}

