@import '../global/config.css';

.container {
    max-width: 970px;
    margin: 0 auto;
    margin-bottom: 150px;

    padding: 0 20px;
}

.h2 {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 30px;
}
.wrapper {
    margin-left: 20px;
}
.list {
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        position: absolute;
        border: 1px solid #E0E0E0;
        bottom: -25px;

    }
    &:not(:last-child) {
        margin-bottom: 60px;
    }
}
.img {
    max-width: 100%;
}
.title {
    font-size: 30px;
    margin-bottom: 15px;
}
.link {
    text-decoration: none;
    transition: 100ms;
    &:hover {
        color: $primary-c;
    }
}
.key {
    margin-bottom: 15px;
}

.data {
    padding: 2px 6px;
    color: white;
    font-weight: bold;
    background: #142850;
    border-radius: 16px;
    margin-right: 20px;
}
.topic {
    color: #8695A4;
}
.text {
    max-width: 700px;
}