@import 'config.css';

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 30px;
}

.list {
    display: flex;
}

.item {
    margin-bottom: 15px;
}

.title {
    font-size: 18px;
}

.date {
    font-size: 14px;
}