@import 'config.css';

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;

    margin-bottom: 250px;
}

.header {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 35px;
}

.list {
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 40px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        border: 0.5px solid #E0E0E0;
        background: #E0E0E0;
        bottom: -20px;
    }
}

.title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}

.link {
    text-decoration: none;
}

.key {
    display: flex;
    font-size: 16px;
    margin-bottom: 10px;
}

.date {
    margin-right: 35px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        height: 15px;
        background: $text-c;
        border: 0.5px solid $text-c;
        right: -18px;
        top: 5px;
    }
}

.topic {
    color: #8695A4;
}

.description {
    line-height: 23px;
}