/* Config with global view
   include variables & mixins & etc */

$text-c: #21243d;
$primary-c: #ff6464;
$secondary-c: #00a8cc;

* {
   font-family: "Ubuntu", sans-serif;
   color: $text-c;
}

html,
body {
   height: 100%;
   overflow: auto;
}

html {
   overflow: scroll;
   overflow-x: hidden;
}
::-webkit-scrollbar {
   width: 0px; /* remove scrollbar space */
   background: transparent; /* optional: just make scrollbar invisible */
}
