@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import 'reset.css';
@import 'config.css';

.main {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 970px;
    margin: 0 auto;
    margin-bottom: 100px;
    .box {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }
    
    .header {
        font-size: 44px;
        margin-bottom: 40px;
    }
    
    .text {
        font-size: 16px;
        margin-bottom: 35px;
    }
    
    .button {
        background: $primary-c;
        border: 0;
        font-size: 20px;
        color: white;
        padding: 9px 20px;
        width: 208px;
        height: 47px;
        border-radius: 5px;
        transition: 100ms;
        &:hover {
            transform: scale(1.02);
        }
    }
    
    .photo {
        margin-top: 30px;
        display: block;
    }
}

.recent {
    padding: 30px 20px;
    background: #EDF7FA;
    .wrapper {
        max-width: 950px;
        margin: 0 auto;

    }
    .h2 {
        font-size: 22px;
        font-weight: 700;
        font-weight: normal;
        margin-bottom: 20px;
    }
    .blogbox {
        display: flex;
        justify-content: space-between;
    }
    .blogpost {
        padding: 25px;
        max-width: 420px;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
        border-radius: 4px;
    }
    .blogtitle {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .key {
        display: flex;
        font-size: 18px;
        margin-bottom: 10px;
    }
}